.account {
    position: absolute;
    top:0px;
    left: 90px;
    width: 240px;
    background-color: rgb(255,255,255);
    z-index:116;
    border: 1px solid #eeece8;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.2);
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
}




